<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<filter>
		<filter-name>JSONRPCFilter</filter-name>
		<filter-class>com.jsonrpc.core.InitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JSONRPCFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>JSONRPCServlet</servlet-name>
		<servlet-class>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSONRPCServlet</servlet-name>
		<url-pattern>/JSON-RPC</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <servlet-name>InitServlet</servlet-name> <servlet-class>com.jsonrpc.servlet.InitServlet</servlet-class> 
		<load-on-startup>99</load-on-startup> </servlet> -->
</web-app>
